# pytest cache
.pytest_cache/
# test results and logs
reports/
logs/
# Python bytecode
__pycache__/
*.pyc
# VS Code settings
.vscode/
# Environment files
env/
venv/
# Selenium/Appium drivers
drivers/
